@model IEnumerable<WebCityEvents.Models.Event>

@{
    ViewData["Title"] = "События";
}

<h2>События</h2>

<table class="table table-bordered">
    <caption>Список событий</caption>
    <thead>
        <tr>
            <th>Название события</th>
            <th>Организатор</th>
            <th>Дата события</th>
            <th>Цена билета</th>
            <th>Количество билетов</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ev in Model)
        {
            <tr>
                <td>@ev.EventName</td>
                <td>@(ev.Organizer?.FullName ?? "Неизвестно")</td>
                <td>@ev.EventDate.ToString("dd/MM/yyyy")</td>
                <td>@ev.TicketPrice</td>
                <td>@ev.TicketAmount</td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
    <span>Страница @ViewBag.CurrentPage из @ViewBag.TotalPages</span>
    <div>
        <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage - 1)"
           class="btn btn-primary me-2"
           disabled="@(ViewBag.CurrentPage == 1 ? "disabled" : null)">
            Предыдущая
        </a>

        <a asp-action="Index" asp-route-page="@(ViewBag.CurrentPage + 1)"
           class="btn btn-primary"
           disabled="@(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : null)">
            Следующая
        </a>
    </div>
</div>
